body {
    background-color: black;
}

p {
    color: white;
}

.name {
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 25px;
  left: 100px;
}

h1 {
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.arrow {
    position: absolute;
    top: 115px;
    right: 50px;
    font-size: 30px;
}

.home-1 {
    position: absolute;
    top: 115px;
    right: 10px;
    font-size: 30px;
}

.arrow_games {
    position: absolute;
    top: 275px;
    right: 50px;
    font-size: 30px;
}

.arrow_hacked {
    position: absolute;
    top: 435px;
    right: 50px;
    font-size: 30px;
}

.home-2 {
    position: absolute;
    top: 115px;
    right: 10px;
    font-size: 30px;
}

.sketchware {
    position: absolute;
    top: 175px;
    left: 120px;
}

.sketchware_name {
    position: absolute;
    top: 224px;
    left: 90px;
}
